name: Build and deploy Vite app to Azure Web App - picture-share-platform-frontend-xjzai

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:

  NODE_VERSION: '20.x'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'npm'


      - name: Install dependencies and build
        run: |
          npm ci
          npx vite build

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: vite-app
          path: ./dist

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: vite-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_67E1515F49174416B99889FA7CACA944 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_4183E8774BD240259EF498E231D1B056 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_A08C22D4145548A8849F0500FD960EEF }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'imageShareFrontend'
          slot-name: 'Production'
          # 关键修改: 部署我们构建好的 dist 目录内容
          package: .